nav a.brand-logo,
nav ul li a {
    color: #3e2723;
}

nav .container {
    width: 95%;
}

nav .btn {
    text-transform: capitalize;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section#banner {
    width: 100%;
    height: calc( 100vh - 10rem);
    background: url(../images/img8.jpg) no-repeat fixed top;
    background-size: 100%;
}

#banner h4.slogan {
    margin-bottom: 2rem;
}

div.overlay {
    background: rgba(0, 0, 0, 0.53);
    width: 100%;
    height: inherit;
    padding: 7rem 0 5rem;
}

#searchField {
    z-index: 1500;
    background: rgba(33, 34, 34, .96);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    left: 0;
    top: 0;
    color: #888;
    padding: 0rem 2rem;
}

#searchField #inner {
    width: 100vw;
    padding: 0 60px 0 116px;
}

#searchField #searchBox {
    height: 74px;
    margin-top: 3rem;
    margin-left: 4rem;
}

#searchField .inner {
    /*margin-top: 5rem;*/
}

#searchClose {
    top: 1rem;
}

#searcharea {
    float: left;
    width: 90%;
    height: 110%;
    border: none;
    padding: 0;
    outline: none;
    background: none;
    white-space: pre-wrap!important;
    word-wrap: break-word;
    color: #f2f2f2;
    overflow: hidden;
    font-size: 3rem;
    line-height: 100%;
    font-weight: 400;
    font-family: Gotham SSm A, Gotham SSm B, sans-serif;
    box-shadow: 0 1px 0 0 rgba(242, 242, 242, 0.39);
}

#searcharea:focus {
    box-shadow: 0 1px 0 0 rgba(242, 242, 242, 0.39);
}

.collection .collection-item {
    background-color: rgba(255, 255, 255, 0);
}

section#categories .container {
    padding: 1.5rem 0 0;
    width: 95%;
}

section#categories header h4 {
    font-weight: 600;
    font-family: 'roboto';
    font-size: 1.8rem;
}

#categories header h4 small {
    font-size: 60%;
    font-weight: 500;
    border-bottom: 2px solid saddlebrown;
}

#categories_on_home .row .card h5 {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'lato';
}

#categories_on_home .row .card h5 small {
    font-weight: 400;
    font-size: 1rem;
}

#categories_on_home .row .card {
    padding: 0px 5px 5px;
}

#categories_on_home .category_head {
    border-bottom: 1px solid;
    max-width: 26rem;
    font-weight: 600;
    margin-left: 1rem;
    padding: 7px;
    font-size: 1.7rem;
    border-radius: 4px;
}

#categories_on_home .card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 10px 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
    min-height: 6rem;
}

#categories_on_home .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    margin-right: 20px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: inherit;
}

#categories_on_home .card .card-action small {
    font-weight: 400;
    font-size: 1rem;
}